---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import KeyVisual from '../components/top/KeyVisual.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <KeyVisual />
  <main> </main>
</Layout>